main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.form-container{
    height: fit-content;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
       

        input,button{
            padding: .5rem;
            border-radius: .5rem;
            border: none;
            outline: none;
        }

        button{
           
            background-color: #3a3a3a;
            color: beige;
            cursor: pointer;

            &:hover{
                background-color: #4a4a4a;
            }
        }
    }

    .toggleAuthForm{
        color: #3a3a3a;
        text-decoration: none;
        font-weight: 500;

        &:hover{
            text-decoration: underline;
        }
    }
}